@model Web.Models.SearchResult
@{
    ViewData["Title"] = "Vyhledávání";
}


<div class="py-10">
    <main>
        @foreach (var item in Model.Items)
        {
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mb-8">
                <div class="max-w-2xl">
                    <span class="text-xs">@item.Url</span>
                    <a href="@item.Url" class="text-lg font-bold text-pink-500 block hover:underline">@Html.Raw(item.Title)</a>
                    <p class="text-sm mt-1">@Html.Raw(item.ShortDescription)</p>
                </div>
            </div>
        }
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
            <div class="flex-1 flex justify-between sm:hidden">
                <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Previous
                </a>
                <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Next
                </a>
            </div>
            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm text-gray-700">
                        Zobrazeno
                        <span class="font-medium">@((Model.CurrentPage - 1) * Model.ItemsPerPage + 1)</span>
                        až
                        <span class="font-medium">@Math.Min((Model.CurrentPage * Model.ItemsPerPage), Model.Total)</span>
                        z
                        <span class="font-medium">@Model.Total</span>
                        výsledků
                    </p>
                </div>
                <div>
                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <a asp-controller="Home" asp-action="Search" asp-route-query="@Model.Query" asp-route-page="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.ItemsPerPage" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Předchozí</span>
                                <!-- Heroicon name: solid/chevron-left -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        }
                        @*<a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            1
                        </a>
                        <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            2
                        </a>
                        <a href="#" class="hidden md:inline-flex relative items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            3
                        </a>
                        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">
                            ...
                        </span>
                        <a href="#" class="hidden md:inline-flex relative items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            8
                        </a>
                        <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            9
                        </a>
                        <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            10
                        </a>*@
                        @if (Model.CurrentPage < Model.NumberOfPages)
                        {
                            <a asp-controller="Home" asp-action="Search" asp-route-query="@Model.Query" asp-route-page="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.ItemsPerPage" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Následující</span>
                                <!-- Heroicon name: solid/chevron-right -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        }
                    </nav>
                </div>
            </div>
        </div>

    </main>
</div>
</div>
